/**
Had working transitions with keyframes,
but there is some irregularity with the console window due to how react updates the DOM.

Essentially, when the DOM elements don't exist, they animate nicely.
However, once they are made, the keyframe animations only trigger on 'all' elements once the list has totally cycled.

Makes sense. Something to explore later if there is time. Could use ref array + js to animate manually pos-render in useEffect():

.consoleLine {
  -moz-animation: cssAnimation 5s forwards;
  -webkit-animation: cssAnimation 5s forwards;
  -o-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    from {
        background-color: rgb(117, 218, 117);
    }
    to {
        background-color: white;
    }
}

@-webkit-keyframes cssAnimation {
    from {
        background-color: rgb(117, 218, 117);
    }
    to {
        background-color: white;
    }
}

.consoleLine {
    background-color: rgb(117, 218, 117);
    transition: background-color 0.6s linear;
    transition-delay: 0s;
  }
  
  .consoleLine:focus {
      background-color: white;
  }