.floating-window {
    position: absolute;
    border: var(--thin-border);
    background: var(--bg-gradient-2);
    min-width: 300px;
}

.floating-window-titlebar {
    background: var(--bg-gradient-3);
    color: black;
    height: 32px;
}

.flex-container {
    display: flex;
}

.window-title-text {
    top: 50%;
    left: 50%;
    padding-top: 2px;
    padding-left: 5px;
    margin: 2px 2px 2px 0px !important;
}

.align-right {
    display: flex;
    justify-content: right;
}

.far-right {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
}

.allow-pointer-events {
    pointer-events: auto !important;
}
