/** Credit to W3schools for most of this css. */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin: 5px;
}

/** visibility: hidden; */
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 300px;
    border: var(--thin-border);
    background: var(--bg-gradient-2);

    text-align: center;
    border-radius: 6px;
    z-index: 2147483641;
    bottom: 100%;
    left: 150%;
    margin-left: -80%;
    border: 1px solid black;
    font-size: 18px;
}

.tooltip .tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.popover-basic {
    z-index: 9;
}

.item-name,
.item-description,
.item-stats {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.tooltiptext p:nth-child(odd) {
    border: var(--thin-border);
    background: var(--bg-gradient-2);
}

.tooltiptext p:nth-child(even) {
    border: var(--thin-border);
    background: var(--bg-gradient-3);
}

.tooltiptext p {
    padding: 3px;
}

.red {
    color: red;
    font-weight: 700px;
}

.green {
    color: green;
    font-weight: 700px;
}
