.area-container {
    display: flex;
    flex-wrap: wrap;
}

.area-item {
    padding: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
}

.embedded-window-core {
    display: flex;
    position: absolute;
    top: 110px;
    left: 440px;
    height: 295px;
    width: 735px;
    background-color: rgb(228, 237, 245);
    border: 3px solid rgb(186, 201, 230);
    padding: 5px;
}
