.embedded-window-core {
    position: absolute;
    top: 95px;
    background: var(--bg-gradient-2);
    border: var(--thin-border);
    padding: 5px;
    max-width: 1200px;
    max-height: 750px;
    /** Component currently doesn't overflow, so new handling may be needed in the future if overflow behavior ever occurs. */
    overflow: auto;
}

.not-embedded-window-core {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 500px;
}

.embedded-sub-component {
    height: 80%;
}

.encounter-line:nth-child(odd) {
    color: rgb(161, 0, 153);
}

.encounter-line:nth-child(even) {
    color: rgb(0, 11, 112);
}
