.settings {
    margin: 7px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.settings-h1 {
    padding: 10px;
    /** CSS Gradient Pattern 1 */
    background: rgb(247, 199, 199);
    background: linear-gradient(90deg, rgba(247, 199, 199, 1) 0%, rgba(247, 225, 225, 1) 100%);
}

.window-transparency-div {
    padding: 4px;
    margin: 2px;
    /** CSS Gradient Pattern 3 */
    background: rgb(247, 199, 199);
    background: linear-gradient(90deg, rgb(247, 217, 217) 0%, rgba(247, 225, 225, 1) 100%);
}
