.settings {
    margin: 7px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.settings-h1 {
    padding: 10px;
    background: var(--bg-gradient-3);
}

.window-transparency-div {
    padding: 4px;
    margin: 2px;
    background: var(--bg-gradient-2);
}

.color-pickers {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    justify-content: center;
}

.color-picker {
    margin: 10px;
}

.pad-down-10 {
    margin-bottom: 10px;
}
