html,
body {
    margin: 0;
    font-size: 18px;
    background-color: rgb(221, 232, 235);
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(15, 43, 73);
}

/** New random button style from: https://codepen.io/seme332/pen/reJOwo */
button,
.a-as-button {
    min-width: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color: #336574;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 3px;
    padding: 3px;
}

h1,
h2 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.root {
    height: 100%;
}

.app {
    padding: 10px;
}

.window-core {
    padding: 5px;
    margin: 5px;
    max-width: 450px;
}

.window-flex {
    display: 'flex';
    flex-direction: 'row';
}

.big-button {
    padding: 32px;
    font-size: 32px;
}

button:active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.a-as-button:active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.a-as-button-container {
    margin-top: 15px;
    margin-bottom: 12px;
}

.a-as-button {
    padding: 4px;
    margin: 5px;
    text-decoration: none;
    color: white;
}

/**
Settings page setting.
*/

.window-core-large {
    display: flex;
    padding: 5px;
    margin: 5px;
    min-width: 800px;
}

.window-transparency-div {
    background-color: rgb(245, 245, 245);
    padding: 4px;
    margin: 2px;
    width: 400px;
}

.window-transparency-div > * {
    margin: 5px;
}

.embedded-window-copy-core {
    display: flex;
    padding: 5px;
}
