body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(15, 43, 73);
}

html,
body {
    margin: 0;
    height: 97%;
}

button {
    background-color: #336574;
    border: none;
    color: white;
    min-width: 50px;
    min-height: 30px;
    margin: 3px;
    box-sizing: 5px;
    box-shadow: #000000;
    border: 1px solid rgb(228, 228, 228);
}

h1,
h2 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.root {
    background-color: rgb(221, 232, 235);
    border: 1px solid rgb(128, 128, 128);
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.app {
    background-color: rgb(33, 144, 172);
    border: 1px solid rgb(128, 128, 128);
}

.window-core {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.equipment-list {
    line-height: 35px;
    margin: auto;
    display: flex;
}
