/*
    Keyframes
*/

@keyframes gradient {
    from {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    to {
        background-position: 0% 50%;
    }
}

@keyframes text-glow-1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 #fff 30px;
    }
    to {
        text-shadow: 0 0 10px var(--main-color-1), 0 0 20px var(--main-color-1), 0 0 var(--main-color-1) 30px;
    }
}

/*
    Primarily Global Styles
    Note: Main colors 0-5 are declared in ThemeManager.tsx
*/

:root {
    --bg-gradient-1: linear-gradient(0deg, var(--main-color-0) 0%, var(--main-color-1) 39%, var(--main-color-0) 100%);
    --bg-gradient-2: linear-gradient(90deg, var(--main-color-0) 0%, var(--main-color-3) 100%);
    --bg-gradient-3: linear-gradient(90deg, var(--main-color-0) 0%, var(--main-color-2) 100%);
    --thin-border: 1px solid var(--main-color-5);
}

html,
body {
    margin: 0;
    font-size: 18px;
    background: var(--main-color-0);
    background: var(--bg-gradient-1);
    height: 100%;
    line-height: 1.2;
    overflow: auto;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-animation {
    background: linear-gradient(-45deg, var(--main-color-0), var(--main-color-1), var(--main-color-0));
    animation-name: gradient;
    animation-duration: 2s;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

h1,
h2 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

hr {
    border-top: var(--thin-border);
}

/** Base button style style from: https://codepen.io/seme332/pen/reJOwo */
button,
.a-as-button {
    min-width: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #f7ece1;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 3px;
    background: linear-gradient(0deg, var(--main-color-4) 0%, var(--main-color-5) 100%);
}

button:hover,
.a-as-button:hover,
.custom-file-input:hover {
    transition: all 0.1s ease 0s;
    transform: scale(0.95);
    /* Getting rid of a gradient causes a 'flicker' effect (which I think is cool, but will exclude for now),
        so just use a new gradient with the same color twice... *shrug* */
    background: linear-gradient(0deg, var(--main-color-4), var(--main-color-4));
}

/**
    End of Primarily Global Styles
*/

.root {
    height: 100%;
}

.app {
    padding: 10px;
    height: 100%;
}

.window-core {
    padding: 5px;
    margin: 5px;
    max-width: 450px;
}

.window-flex {
    display: 'flex';
    flex-direction: 'row';
}

.big-button {
    padding: 32px;
    font-size: 32px;
}

.a-as-button {
    padding: 4px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

.window-core-large {
    display: flex;
    padding: 5px;
    margin: 5px;
    min-width: 800px;
}

.embedded-window-copy-core {
    display: flex;
    padding: 5px;
}

.height-80-percent {
    height: 80%;
}

.height-100-percent {
    height: 100%;
}

.button-icon {
    margin-top: 2px;
    margin-bottom: -2px;
}

.margin-right-3 {
    margin-right: 3px;
}

.margin-top-10 {
    margin-top: 10px;
}
